body {
	font-family: Tahoma,Arial,Verdana;
	font-size: 12px;
	color: black;
}

/* #coverA {
	width:100%;
	height: 100%;
	opacity: 50%;
} */

#navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(116, 116, 116);
	top:0;
	width:100%;
	border-radius: 10px;
}

#navigation li {
	float:left;
	border-right: 1px solid #bbb;
	display: inline;
	border-radius: 10px;
}

#navigation li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-radius: 10px;
}

#navigation li a:hover {
	background-color: rgb(0, 100, 167);
}

.active {
	background-color: #873cff;
}

#mapdivChina {
	overflow: hidden;
	position:relative;
	width:80%;
	margin-left: 80px;
	margin-right: 0px;
	margin-top: 10px;
	/* background-color:#DDDDDD; */
	background-image: url('../src/001.jpg');
	background-size: contain;
	height:866px;
	border-radius: 10px;
	opacity:80%
}

#mapdivChina div {
	opacity: 88%;
}

#memory {
	width:15%;
	float: left;
	margin:20px;
}

#memory .memories h2 {
	background-color: antiquewhite;
	margin:5px;
	display:block;
	text-align: center;
	border-radius: 5px;
	border-spacing: 3px;
	text-shadow: 5px;
	border-style: outset;
}

#memory .memories h3 {
	background-color: #ece0ff;
	margin-right: 20px;
	font-style: oblique;
	margin-left: 12px;
	border-radius: 4px;
	text-shadow: 3px;
}

#memory .memories ul {
	list-style-type: none;
}

#memory .memories ul li a {
	display: block;
	background-color: rgba(190, 238, 232, 0.548);
	font-size: 12px;
	margin-top:25px;
	margin-bottom: 25px;
	padding: 3px;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	border-radius: 7px;
}

#memory .memories ul li a:hover{
	font-size:15px;
	color:rgb(195, 0, 255);
}

/* cursor effect */
body {  
    cursor: url(../src/normal.cur), auto;
}
 
 
a {
    cursor: url(../src/ayuda.cur), auto
}
 
a:active {
    cursor: url(../src/work.cur), alias
}
 
p {
    cursor: url(../src/texto.cur), auto
}
 
span {
   cursor: url(../src/No_Disponible.cur), auto;
}